# emacs files
*~
\#*\#
.\#*
tests/server/*.js
tests/testing/*.js
tests/bin/app.pid
util/file-utils.js
logic/*.js
logs
app.js
server.js
server_factory.js
config.js
ssl/*

# npm stuff
node_modules

secrets.js
servlets/*.js
