doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/lib/jquery.min.js')
      script(src='/javascripts/event_manager.js')
      script(src='/javascripts/canvas_event.js')
  body
    block content