//-  Copyright 2012 Shawn Krisman
//-  This file is part of Nodelings.
//-
//-  Nodelings is free software: you can redistribute it and/or modify
//-  it under the terms of the GNU General Public License as published by
//-  the Free Software Foundation, either version 3 of the License, or
//-  (at your option) any later version.
//-
//-  Nodelings is distributed in the hope that it will be useful,
//-  but WITHOUT ANY WARRANTY; without even the implied warranty of
//-
//-  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-  GNU General Public License for more details.
//-
//-  You should have received a copy of the GNU General Public License
//-  along with Nodelings.  If not, see <http://www.gnu.org/licenses/>.

extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='#', method='post', name='signup-form')
    span.username.message-input
      input(name='username', type='text')
      span.inline-message
    span.password.message-input
      input(name='password', type='password')
      span.inline-message
    span.verify-password.message-input
      input(name='verify-password', type='password')
      span.inline-message
  p.error-msg

